body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #FF0000;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #FF0000;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;
}

.section-title {
    font-family: 'Pacifico', cursive;
}

.section-title span {
    color: #FF0000;
}

#sobre, #cardapio {
    background-color: #ffeae6;
}

.text-colored {
    color: #FF0000;
}

.nav-cardapio .nav-link.active,
.botao {
    background-color: #FF0000;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #FF0000;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}